// We import everything in the sass folder here

// Abstracts
@use "./abstracts/mixins";
@use "./abstracts/variables";

// Base
@use "./base/animations";
@use "./base/base";
@use "./base/typography";
@use "./base/utilities";

// Components
@use './components/alert';
@use './components/button';
@use './components/card';
@use './components/comment';
@use './components/form';
@use './components/loading';
@use './components/react_datepicker';
@use './components/react_modal';

// Layout
@use './layout/flex';
@use './layout/footer';
@use './layout/header';

// Pages
@use './pages/landing';

@import "https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap";
