// Colors
$color-success: #55c57a;
$color-success-light: #7ed56f;
$color-success-dark: #28b485;

$color-orange-light: #ffb900;
$color-orange-dark: #ff7730;

$color-red: #e61515;
$color-warn: #ff6767;

$color-primary: #00587a;
$color-primary-light: #4aadd8;
$color-primary-dark: #013f58;

$color-white: #ffffff;
$color-black: #000000;

$color-dark: #252627;
$color-grey-dark: #777777;
$color-grey-light: #e9e9e9;

$color-info: #64b5f6;
$color-link: #0288d1;

// Font
$default-font-size: 1.5rem;

// Viewport
$tablet: 768px;
$desktop: 1025px;

// Custom values
$margin-top-main: 70px;
$react-modal-top: calc(#{$margin-top-main} - 25px);
$check-width: 40px;
$check-height: calc(#{$check-width} / 2);
$check-border-radius: calc(#{$check-height} / 2);

// Shadows
$shadow: 0 0.5rem 3rem rgba($color-black, 0.09);
$shadow-small: 0rem 0.25rem 2rem 0rem rgba($color-black, 0.06);
$shadow-big: 0 0.75rem 4rem rgba($color-black, 0.12);

// Border
$border-small: 1px solid $color-grey-light;
$border-medium: 3px solid $color-grey-light;
$border-big: 5px solid $color-grey-light;

// Border Radius
$brad-tiny: 0.35rem;
$brad-small: 0.5rem;
$brad-medium: 0.75rem;
$brad-big: 1rem;
$brad-huge: 1.5rem;
