@use '../abstracts/variables';

// Loading Animations
.load {
  &--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &--text {
    margin-left: 1rem;
  }

  &--circle {
    display: block;
    margin: 1rem;

    &::after {
      content: "";
      display: block;
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      border: 3px solid variables.$color-white;
      border-color: variables.$color-grey-dark variables.$color-grey-dark
        variables.$color-grey-light variables.$color-grey-light;
      animation: load--circle 0.75s linear infinite;
    }

    &-inline {
      @extend .load--circle;
      display: inline-block;
      margin: 0;

      &::after {
        margin: 0 auto;
      }
    }
  }

  &--overlay {
    position: relative;
    min-width: 50vw;
    min-height: 50vh;
    width: 100%;
    height: 100%;
    z-index: 9999999;
    background-color: rgba($color: variables.$color-black, $alpha: 0.05);

    &__icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
