@use '../abstracts/mixins';
@use '../abstracts/variables';

// Flex system layout
.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;

  // Nested Flex Modifiers
  &--1-of-2 {
    width: 100%;
  }

  &--1-of-3 {
    width: 100%;
  }

  &--1-of-4 {
    width: 100%;
  }

  &--2-of-3 {
    width: 100%;
  }

  &--2-of-4 {
    width: 100%;
  }

  &--3-of-4 {
    width: 100%;
  }
}

@media screen and (min-width: variables.$tablet) {
  .flex {
    &--1-of-2 {
      width: 45%;
    }

    &--1-of-3 {
      width: 30%;
    }

    &--1-of-4 {
      width: 22.5%;
    }

    &--2-of-3 {
      width: 60%;
    }

    &--2-of-4 {
      width: 45%;
    }

    &--3-of-4 {
      width: 67.5%;
    }
  }
}
