@import "https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap";
@keyframes sk-chase {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes sk-chase-dot {
  80%, 100% {
    transform: rotate(360deg);
  }
}
@keyframes sk-chase-dot-before {
  50% {
    transform: scale(0.4);
  }
  100%, 0% {
    transform: scale(1);
  }
}
@keyframes load--circle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes load--circle {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

::placeholder {
  /* Most modern browsers support this now. */
  color: darkgray;
}

html {
  /*
  Assuming the default font size is 16px, 
  and we want to set default font to 10px, 
  we get 10 / 16 = 0.625. Then multiply by 100
  */
  font-size: 75%;
  scroll-behavior: smooth;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #0288d1;
}

small {
  font-size: 1.25rem;
}

main {
  margin-top: 70px;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 62.5%;
  }
}
body {
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  color: #777777;
  background-color: #ffffff;
  box-sizing: border-box;
  line-height: 1.7;
  height: 100%;
}

.h1 {
  text-transform: uppercase;
  font-weight: lighter;
  letter-spacing: 0.2rem;
}

.h2 {
  text-transform: uppercase;
  font-weight: lighter;
  letter-spacing: 0.15rem;
}

.h3 {
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 0.1rem;
}

.shadow, .link, .link--success, .link--info, .link--white {
  box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.09);
}
.shadow--small {
  box-shadow: 0rem 0.25rem 2rem 0rem rgba(0, 0, 0, 0.06);
}
.shadow--big {
  box-shadow: 0 0.75rem 4rem rgba(0, 0, 0, 0.12);
}
.shadow--none {
  box-shadow: none;
}

.border {
  border: 1px solid #e9e9e9;
}
.border--danger {
  border-color: #e61515;
}
.border--success {
  border-color: #0e854d;
}

.brad, .link, .link--success, .link--info, .link--white {
  border-radius: 0.5rem;
}
.brad--tiny {
  border-radius: 0.35rem;
}
.brad--medium {
  border-radius: 0.75rem;
}
.brad--big {
  border-radius: 1rem;
}
.brad--huge {
  border-radius: 1.5rem;
}

.outline {
  outline: 1px solid #e9e9e9;
  transition: all 0.2s ease-in-out;
}
.outline:hover {
  box-shadow: none;
}

.text--bold {
  font-weight: 900;
}
.text--italic {
  font-style: italic;
}
.text--underline {
  text-decoration: underline;
}
.text--center {
  text-align: center;
}
.text--white {
  color: #ffffff;
}
.text--light {
  color: #e9e9e9;
}
.text--dark {
  color: rgba(0, 0, 0, 0.8);
}
.text--success {
  color: #0e854d;
}
.text--danger {
  color: #e61515;
}
.text--warn {
  color: #f37121;
}
.text--info {
  color: #64b5f6;
}

.bg--light {
  background-color: #f7f7f7;
}
.bg--primary {
  background-color: #00587a;
}
.bg--white {
  background-color: #ffffff;
}
.bg--dark {
  background-color: rgba(0, 0, 0, 0.8);
}
.bg--success {
  background-color: #0e854d;
}
.bg--success-light {
  background-color: #42c46d;
}
.bg--success-dark {
  background-color: #026947;
}
.bg--danger {
  background-color: #e61515;
}
.bg--warn {
  background-color: #f37121;
}
.bg--info {
  background-color: #64b5f6;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.w--max {
  width: max-content;
}
.w--min {
  width: min-content;
}
.w--100 {
  width: 100%;
}
.w--50 {
  width: 50%;
}
.w--vw-25 {
  width: 25vw;
}
.w--vw-50 {
  width: 50vw;
}
.w--vw-75 {
  width: 75vw;
}
.w--vw-100 {
  width: 100vw;
}

.h--max {
  height: max-content;
}
.h--min {
  height: min-content;
}
.h--100 {
  height: 100%;
}
.h--50 {
  height: 50%;
}
.h--vh-25 {
  height: 25vh;
}
.h--vh-50 {
  height: 50vh;
}
.h--vh-75 {
  height: 75vh;
}
.h--vh-100 {
  height: 100vh;
}

.d--block {
  display: block;
}
.d--i-block, .link, .link--success, .link--info, .link--white {
  display: inline-block;
}
.d--none {
  display: none !important;
}
.d--flex, .d--flex-around, .d--flex-between, .d--flex-center {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.d--flex-center {
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.d--flex-between {
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.d--flex-around {
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}

.m--auto {
  margin: auto;
}
.m--tiny {
  margin: 0.5rem;
}
.m--x-tiny {
  margin: 0 0.5rem;
}
.m--y-tiny {
  margin: 0.5rem 0;
}
.m--0 {
  margin: 0;
}
.m--1 {
  margin: 1rem;
}
.m--2 {
  margin: 2rem;
}
.m--y-1, .link, .link--success, .link--info, .link--white {
  margin: 1rem 0;
}
.m--y-2 {
  margin: 2rem 0;
}
.m--x-1 {
  margin: 0 1rem;
}
.m--x-2 {
  margin: 0 2rem;
}

.p--0 {
  padding: 0;
}
.p--tiny, .link, .link--success, .link--info, .link--white {
  padding: 0.5rem;
}
.p--x-tiny {
  padding: 0 0.5rem;
}
.p--y-tiny {
  padding: 0.5rem 0;
}
.p--1 {
  padding: 1rem;
}
.p--2 {
  padding: 2rem;
}
.p--y-1 {
  padding: 1rem 0;
}
.p--y-2 {
  padding: 2rem 0;
}
.p--x-1 {
  padding: 0 1rem;
}
.p--x-2 {
  padding: 0 2rem;
}

.click--cursor {
  cursor: pointer;
}
.click--none, .link--none {
  pointer-events: none;
}
.click--not-allowed, .link--disabled {
  cursor: not-allowed;
}

.ov--scroll {
  overflow: scroll;
}
.ov--auto {
  overflow: auto;
}

.link, .link--success, .link--info, .link--white {
  transition: all 0.2s ease-in-out;
}
.link--disabled {
  color: #777777;
  background-color: rgba(233, 233, 233, 0.7);
}
.link--white {
  background-color: #ffffff;
}
.link--info {
  background-color: #64b5f6;
  color: #ffffff;
}
.link--success {
  background-color: #026947;
  color: #ffffff;
}
.link:hover, .link--white:hover, .link--info:hover, .link--success:hover {
  box-shadow: none;
}

.check {
  cursor: pointer;
}
.check__input {
  display: none;
}
.check__input:checked ~ .check__fill {
  background-color: #64b5f6;
}
.check__input:checked ~ .check__fill::after {
  transform: translateX(calc(40px / 2));
}
.check__fill {
  position: relative;
  width: 40px;
  height: calc(40px / 2);
  border-radius: calc(calc(40px / 2) / 2);
  background-color: #e9e9e9;
  transition: background 0.2s;
  margin: 0.25rem 1rem 0 0;
}
.check__fill::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: calc(40px / 2);
  height: calc(40px / 2);
  background-color: #ffffff;
  box-shadow: 0rem 0.25rem 2rem 0rem rgba(0, 0, 0, 0.06);
  border-radius: calc(calc(40px / 2) / 2);
}

.float--left {
  float: left;
}
.float--right {
  float: right;
}
.float--clear {
  clear: both;
}

.img, .img--avatar {
  max-width: 100%;
  height: auto;
}
.img--avatar {
  clip-path: circle();
}

@media (min-width: 768px) {
  .container {
    width: 90%;
  }
}
@media (min-width: 1025px) {
  .container {
    width: 80%;
  }
}
.alert {
  position: relative;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  box-shadow: 0rem 0.25rem 2rem 0rem rgba(0, 0, 0, 0.06);
  font-weight: bold;
}
.alert ul li {
  padding: 0.5rem 0;
}
.alert--dismissible {
  position: fixed;
  top: 1rem;
  right: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: auto;
  padding: 1rem;
  border-radius: 0.35rem;
  background-color: #ffffff;
  box-shadow: 0 0.75rem 4rem rgba(0, 0, 0, 0.12);
  z-index: 99;
}
.alert--dismissible .close-alert {
  margin-left: 1rem;
  font-size: 3rem;
  cursor: pointer;
}
.alert--dismissible::before {
  content: "";
  display: block;
  height: 100%;
  width: 0.2rem;
  background-color: #0e854d;
}

@media screen and (min-width: 768px) {
  .alert-dismissible {
    padding: 1.5rem;
    top: 3rem;
    right: 3rem;
  }
}
.btn {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  padding: 1.25rem 2rem;
  border: 1px solid #e9e9e9;
  border-radius: 0.5rem;
  color: #ffffff;
  background-color: #00587a;
  transition: all 0.2s ease-out;
}
.btn--size-tiny, .btn--size-small {
  padding: 0.5rem;
  text-transform: capitalize;
  font-weight: 500;
  letter-spacing: 0.075rem;
  border-radius: 0.35rem;
}
.btn--size-small {
  padding: 1rem 1.25rem;
}
.btn--size-big {
  font-size: 2rem;
  margin: 2rem 0;
}
.btn--variant-white {
  background-color: #ffffff;
  color: #777777;
}
.btn--variant-black {
  background-color: #000000;
  color: #e9e9e9;
}
.btn--variant-success {
  background-color: #0e854d;
  color: #ffffff;
}
.btn--variant-danger {
  background-color: #e61515;
  color: #ffffff;
}
.btn--variant-info {
  background-color: #64b5f6;
  color: #ffffff;
}
.btn:active {
  transform: translateY(2px);
  box-shadow: 0rem 0.25rem 2rem 0rem rgba(0, 0, 0, 0.06);
}
.btn:focus {
  outline: none;
}
.btn:disabled {
  cursor: not-allowed;
  color: #777777;
  background-color: rgba(233, 233, 233, 0.7);
}

[data-disabled=true] {
  cursor: not-allowed;
  pointer-events: none;
  color: #777777;
  background-color: rgba(233, 233, 233, 0.7);
}

.card {
  display: block;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}
.card__img {
  width: 100%;
  max-width: 100%;
  margin: auto;
  border-bottom: 1px solid #e9e9e9;
}
.card__body {
  padding: 1.25rem;
}
.card__footer {
  padding: 1rem;
}
.card:hover {
  transform: scale(1.05);
  box-shadow: none;
  outline: 1px solid #e9e9e9;
}

.comment {
  display: flex;
  align-items: flex-start;
  padding: 0.5rem 0;
}
.comment__block-left {
  padding-top: 0.25rem;
  min-width: 40px;
}
.comment__block-right {
  margin-left: 1.25rem;
  position: relative;
  flex-grow: 1;
}
.comment__user-name {
  display: block;
  font-weight: 900;
}
.comment__ellipsis {
  position: absolute;
  top: -0.5rem;
  right: 0;
  cursor: pointer;
  color: #000000;
}
.comment__body {
  display: block;
  margin: 0.75rem 0;
}
.comment__date {
  display: block;
  margin: 0.5rem 0 1rem 0;
  color: #000000;
}

@media screen and (min-width: 768px) {
  .comment__block-right {
    margin-left: 2rem;
  }
}
.form, .form--center, .form--m, .form--p, .form--shadow-big, .form--shadow {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 0.5rem;
  background-color: transparent;
}
.form__title {
  font-weight: 700;
}
.form__input, .form__input--edit {
  padding: 1rem 0.5rem;
  color: #777777;
  font-size: 1.5rem;
  width: 100%;
  border-radius: 0.35rem;
  outline: none;
}
.form__input--edit {
  border: 2px solid transparent;
  background-color: #f6f6f6;
}
.form__input--edit:hover {
  border-color: #e9e9e9;
}
.form__input--edit:focus {
  border-color: #777777;
  background-color: #ffffff;
}
.form__input--show-pwd {
  margin-right: 1rem;
}
.form__input:focus, .form__input--edit:focus, .form__input:active, .form__input--edit:active {
  border-color: #252627;
}
.form__group {
  margin: 0.5rem 0;
}
.form__label {
  display: block;
  margin-bottom: 0.75rem;
  font-weight: 700;
}
.form__checkbox {
  margin-right: 1rem;
}
.form > *.btn, .form--center > *.btn, .form--m > *.btn, .form--p > *.btn, .form--shadow-big > *.btn, .form--shadow > *.btn {
  width: max-content;
  margin: 0.75rem 0;
}
.form--shadow {
  box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.09);
}
.form--shadow-big {
  box-shadow: 0 0.75rem 4rem rgba(0, 0, 0, 0.12);
}
.form--p-tiny {
  padding: 0.5rem 0;
}
.form--p-2 {
  padding: 2rem 0;
}
.form--m-tiny {
  margin: 0.5rem 0;
}
.form--m-2 {
  margin: 2rem 0;
}
.form--center {
  margin: 2rem auto;
  max-width: 500px;
}
.form--center > *.btn {
  width: 100%;
}

.load--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.load--text {
  margin-left: 1rem;
}
.load--circle, .load--circle-inline {
  display: block;
  margin: 1rem;
}
.load--circle::after, .load--circle-inline::after {
  content: "";
  display: block;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 3px solid #ffffff;
  border-color: #777777 #777777 #e9e9e9 #e9e9e9;
  animation: load--circle 0.75s linear infinite;
}
.load--circle-inline {
  display: inline-block;
  margin: 0;
}
.load--circle-inline::after {
  margin: 0 auto;
}
.load--overlay {
  position: relative;
  min-width: 50vw;
  min-height: 50vh;
  width: 100%;
  height: 100%;
  z-index: 9999999;
  background-color: rgba(0, 0, 0, 0.05);
}
.load--overlay__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.react-datepicker {
  width: 100%;
  font-size: 1.2rem;
  border: 1px solid #e9e9e9;
}
.react-datepicker-time__input-container .react-datepicker-time__input .react-datepicker-time__input {
  padding: 1rem 0.5rem;
  font-size: 1.5rem;
  border: 2px solid transparent;
  border-radius: 0.5rem;
  background-color: #f6f6f6;
}
.react-datepicker-time__input-container .react-datepicker-time__input .react-datepicker-time__input:hover {
  border-color: #e9e9e9;
}
.react-datepicker-time__input-container .react-datepicker-time__input .react-datepicker-time__input:focus {
  border-color: #777777;
}
.react-datepicker__month-container, .react-datepicker__input-time-container {
  float: none;
}
.react-datepicker__current-month {
  font-size: 1.5rem;
}
.react-datepicker__input-time-container {
  display: flex;
  justify-content: center;
  width: initial;
  margin: 10px;
}
.react-datepicker__input-time-container .react-datepicker-time__caption {
  display: none;
}
.react-datepicker__day, .react-datepicker__day-name {
  width: 1.9rem;
  line-height: 2rem;
  margin: 0.3rem;
}

.react-modal {
  position: absolute;
  top: calc(70px - 25px);
  left: 1rem;
  right: 1rem;
  max-height: 75vh;
  overflow: auto;
  background-color: #ffffff;
  padding: 0.5rem;
  transform: translateY(calc(70px - 25px));
}

@media (min-width: 768px) {
  .react-modal {
    position: absolute;
    top: calc(70px - 25px);
    left: 50%;
    max-height: 75vh;
    overflow: auto;
    background-color: #ffffff;
    padding: 2rem;
    transform: translate(-50%, calc(70px - 25px));
  }
}
.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.flex--1-of-2, .flex--1-of-3, .flex--1-of-4 {
  width: 100%;
}
.flex--2-of-3, .flex--2-of-4 {
  width: 100%;
}
.flex--3-of-4 {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .flex--1-of-2 {
    width: 45%;
  }
  .flex--1-of-3 {
    width: 30%;
  }
  .flex--1-of-4 {
    width: 22.5%;
  }
  .flex--2-of-3 {
    width: 60%;
  }
  .flex--2-of-4 {
    width: 45%;
  }
  .flex--3-of-4 {
    width: 67.5%;
  }
}
.footer {
  padding: 3rem 0;
  background-color: #252627;
}
.footer *:not(a) {
  color: #b7b7b7;
}
.footer__copyright {
  margin: 1rem 0;
}
.footer__col {
  margin-bottom: 1.4rem;
}
.footer__logo {
  display: block;
  width: 3.5rem;
  height: 3rem;
}
.footer__logo img {
  height: 100%;
}
.footer__summary {
  margin: 1rem 0;
}
.footer__link {
  display: block;
  margin: 0.75rem 0;
  width: max-content;
}
.footer__subtitle {
  color: #ffffff;
  font-weight: normal;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.header {
  background-color: #ffffff;
  box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.09);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
  padding: 1rem;
}
.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #ffffff;
}

.nav__brand {
  display: block;
  float: left;
  text-decoration: none;
  height: 3.5rem;
  width: 2rem;
  margin-top: 0.75rem;
}
.nav__brand img {
  height: 100%;
}
.nav__toggler {
  display: none;
}
.nav__toggler:hover {
  background-color: #e9e9e9;
}
.nav__list {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}
.nav__link {
  display: block;
  padding: 1rem;
  text-decoration: none;
  text-transform: uppercase;
}
.nav__link:hover {
  background-color: #e9e9e9;
}
.nav__icon--label {
  cursor: pointer;
  float: right;
  padding: 2rem 0;
  position: relative;
  user-select: none;
}
.nav__icon--span {
  background: #00587a;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 1.5rem;
}
.nav__icon--span:before, .nav__icon--span:after {
  background: #00587a;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}
.nav__icon--span:before {
  top: 0.5rem;
}
.nav__icon--span:after {
  top: -0.5rem;
}
.nav__toggler:checked ~ .nav__list {
  max-height: 20rem;
}
.nav__toggler:checked ~ .nav__icon--label .nav__icon--span {
  background: transparent;
}
.nav__toggler:checked ~ .nav__icon--label .nav__icon--span:before {
  transform: rotate(-45deg);
}
.nav__toggler:checked ~ .nav__icon--label .nav__icon--span:after {
  transform: rotate(45deg);
}
.nav__toggler:checked ~ .nav__icon--label:not(.steps) .nav__icon--span:before, .nav__toggler:checked ~ .nav__icon--label:not(.steps) .nav__icon--span:after {
  top: 0;
}

@media screen and (min-width: 768px) {
  .nav__item {
    float: left;
  }
  .nav__link {
    padding: 1.5rem;
  }
  .nav__list {
    clear: none;
    float: right;
    max-height: none;
  }
  .nav__icon--label {
    display: none;
  }
}
.h1-landing {
  font-weight: 100;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.2rem;
  background-color: #f7f7f7;
  padding: 1rem;
  margin: 2rem 0;
}

.hero-section {
  color: #ffffff;
}
.hero-section__image {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url("./hero-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-section__content {
  position: absolute;
  top: 20%;
  left: 2rem;
}
.hero-section__title {
  font-size: 2.5rem;
  letter-spacing: 0.15rem;
}
.hero-section__subtitle {
  font-size: 1.5rem;
  margin: 1rem 0;
  max-width: 75%;
}
.hero-section__btn-cta {
  padding: 0.75rem 1rem;
  font-size: 2rem;
  color: #ffffff;
  background-color: #00587a;
  text-decoration: none;
  display: inline-block;
  margin-top: 3rem;
  border-radius: 0.35rem;
  transition: 0.2s ease-in-out;
}
.hero-section__btn-cta-small {
  display: block;
  margin: 2rem 0;
  background-color: #ffffff;
  padding: 0.25rem 0.5rem;
  border-radius: 0.35rem;
  width: max-content;
  transition: all 0.3s ease-in-out;
}
.hero-section__btn-cta-small:hover {
  transform: scale(0.95);
}
.hero-section__btn-cta:hover {
  transform: scale(1.04);
}

.featured-section {
  margin: 3rem 0;
}

.cta-landing-section {
  margin: 4rem 0;
}
.cta-landing-section__banner {
  padding: 1rem;
  margin-top: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.09);
  background-color: #e9e9e9;
}

@media screen and (min-width: 768px) {
  .h1-landing {
    padding: 2rem 1rem;
  }

  .hero-section {
    text-align: center;
  }
  .hero-section__content {
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .hero-section__title {
    font-size: 4rem;
    letter-spacing: 0.2rem;
  }
  .hero-section__subtitle {
    font-size: 1.75rem;
    margin: 1rem 0;
    max-width: 100%;
  }
  .hero-section__btn {
    padding: 1rem 1.25rem;
    font-size: 2.5rem;
  }
  .hero-section__btn-cta-small {
    margin: 2rem auto;
    padding: 0.5rem 1rem;
  }

  .cta-landing-section__banner {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1025px) {
  .hero-section {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 50% 92vh, 0 75vh);
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 50% 92vh, 0 75vh);
  }
}

/*# sourceMappingURL=App.css.map */
